{% extends "@App/main.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-5 mx-auto">

            {% trans_default_domain 'FOSUserBundle' %}

            <form action="{{ path('fos_user_registration_register') }}" method="POST">
                <div id="fos_user_registration_form">
                    <div class="form-group">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>

                    {{ form_rest(form) }}

                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>

{% endblock content %}
