{% extends "@App/main.html.twig" %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
    <div class="content">
        <div class="jumbotron">
            <hr class="my-4">
            <p class="lead">Welcome to Instagram</p>
        </div>
    </div>

{% endblock %}