body {
    background: #fafafa;
}

.title {
    text-align: center;
}

.post_image {
    width: auto;
    height: 190px;
}

.post {
    width: 340px;
    border: 1px solid #efefef;
    margin: 15px;
}

.post_head {
    width: 300px;
    padding: 0 20px 0 0;
}

.post_footer {
    margin: 10px 10px 10px 0px;
}

.username {
    display: inline-block;
    padding: 10px;
}

.follow_button {
    display: inline-block
}

.img_wrapper {
    background: #efefef;
    text-align: center;
}

.btn-follow {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 0.85rem;
    line-height: 1.0;
    margin: 10px;
}

.btn-like {
    display: inline-block;
    padding: 0 0 2px 10px;
    font-size: 1.2rem;
    color: #c11d1d;
}