{% extends "@App/main.html.twig" %}

{% block title %}Мой профиль{% endblock %}

{% block content %}

    <div class="container">
        <div><h3 class="title">Мой профиль</h3></div>
        <div>Имя: <b>{{ app.user.username }}</b></div>
        <div>Email: <b>{{ app.user.email }}</b></div>
        <hr>

        <div>
            <h4 class="title">Новая публикация</h4>
            {% set newPost = new_post_form.createView %}
            {{ form_start(newPost, {'action' : path('my_profile')}) }}
            {{ form_widget(newPost) }}
            {{ form_end(newPost) }}
        </div>
        <hr>
        <h4 class="title">Мои публикации</h4>
        <div class="row">
            {% for key, post in posts %}
                {% if post.user == app.user %}
                    <div class="col-4">
                        <div class="post">
                            <div class="mx-auto img_wrapper">
                                <img class="post_image"
                                     src="{{ vich_uploader_asset(post, 'imageFile', 'AppBundle\\Entity\\Post') }}">
                            </div>

                            <div class="post_footer">
                                {% set likeButton = form_button.createView %}
                                {{ form_start(likeButton, {'action' : path('like_post', {'id' : post.id})}) }}
                                {% if post.isLiked(app.user) == 0 %}
                                    <button type="submit" class="btn btn-link btn-like"><i class="far fa-heart"
                                                                                           aria-hidden="true"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-link btn-like"><i class="fa fa-heart"
                                                                                           aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                                <b> {{ post.likersCount }}</b>
                                {{ form_end(likeButton) }}
                            </div>
                        </div>


                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <h4 class="title">Публикации на кого я подписан</h4>
        <div class="row">
            {% for key, post in posts %}
                {% if post.user.amIFollower(app.user) == 1 and post.user != app.user %}
                    <div class="col-4">
                        <div class="post">
                            <div class="d-flex justify-content-between">
                                <div class="username">
                                    {{ post.user.username }}
                                </div>

                                <div class="follow_button">
                                    {% set followButton = form_button.createView %}
                                    {{ form_start(followButton, {'action' : path('follow_user', {'id' : post.user.id})}) }}
                                    {% if post.user.amIFollower(app.user) == 0 %}
                                        <button type="submit" class="btn btn-primary btn-follow">Подписаться
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-outline-primary btn-follow">Отписаться
                                        </button>
                                    {% endif %}
                                    {{ form_end(followButton) }}
                                </div>


                            </div>

                            <div class="mx-auto img_wrapper">
                                <img class="post_image"
                                     src="{{ vich_uploader_asset(post, 'imageFile', 'AppBundle\\Entity\\Post') }}">
                            </div>

                            <div class="post_footer">
                                {% set likeButton = form_button.createView %}
                                {{ form_start(likeButton, {'action' : path('like_post', {'id' : post.id})}) }}
                                {% if post.isLiked(app.user) == 0 %}
                                    <button type="submit" class="btn btn-link btn-like"><i class="far fa-heart"
                                                                                           aria-hidden="true"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-link btn-like"><i class="fa fa-heart"
                                                                                           aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                                <b> {{ post.likersCount }}</b>
                                {{ form_end(likeButton) }}
                            </div>
                        </div>


                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}